.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* center whole section */
  text-align: left; /* important */
}

.skillList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
}

.skillList span {
  display: flex;
  align-items: flex-start; /* align top if wraps */
  gap: 10px;
  width: 100%;
}

.skillList span p {
  margin: 0;
  text-align: left;
}

.skillList img {
  width: 18px;
  margin-top: 3px; /* keeps icon aligned with first line */
}

hr {
  width: 100%;
  max-width: 400px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 25px 0;
}

@media (width >= 800px) {
  .skillList p {
    font-size: 18px;
  }
}

