.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px 20px;
  width: 100%;
  max-width: 500px;
}

.skillList span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.skillList img {
  width: 14px;
}

hr {
  width: 100%;
  max-width: 500px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 25px 0;
}
@media (min-width: 768px) {
  .skillList {
    max-width: 900px;
    gap: 18px 35px;
  }

  .skillList span {
    font-size: 17px;
  }

  .skillList img {
    width: 18px;
  }

  hr {
    max-width: 900px;
  }
}


