.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* LEFT ALIGN EVERYTHING */
  text-align: left;
}

.skillList {
  display: flex;
  flex-direction: column; /* STACK ITEMS VERTICALLY */
  align-items: flex-start;
  gap: 12px; /* clean spacing */
  width: 100%;
  max-width: 400px;
}

.skillList span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skillList img {
  width: 18px;
}

hr {
  width: 100%;
  max-width: 400px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 25px 0;
}

@media (width >= 800px) {
  .skillList p {
    font-size: 18px;
  }
}

